// color
$black : #000000;
$white : #ffffff;
$blur_text: rgb(94, 94, 94);
$base_color : #ffffff;

// screen width
$large_screen : 1440px;
$medium_screen : 860px;
$small_screen : 390px;

// font header
$font_head_large : 40px;
$font_head_medium : 35px;
$font_head_small : 30px;

// normal font
$font_large: 16px;
$font_medium : 16px;
$font_small:14px;
